@import './tiers.css';
@import './ui.css';

html, body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw; /* Trava absoluta de largura */
    margin: 0;
    padding: 0;
}

/* === ESTILIZAÇÃO GLOBAL DA BARRA DE ROLAGEM (SCROLLBAR) === */

/* Funciona no Chrome, Edge, Safari e Opera */
::-webkit-scrollbar {
    width: 8px;               /* Largura da barra vertical */
    height: 8px;              /* Altura da barra horizontal */
}

/* O "Trilho" (Fundo da barra) */
::-webkit-scrollbar-track {
    background: #0f172a;      /* A mesma cor escura do fundo dos seus modais */
    border-left: 1px solid #334155; /* Uma linha sutil separando */
}

/* A "Alça" (A parte que mexe) */
::-webkit-scrollbar-thumb {
    background-color: #334155; /* Um cinza azulado discreto */
    border-radius: 4px;        /* Bordas arredondadas */
    border: 2px solid #0f172a; /* Cria um espaço entre a alça e o trilho */
}

/* Quando passa o mouse na barra */
::-webkit-scrollbar-thumb:hover {
    background-color: #38bdf8; /* Brilha na cor Cyan do seu tema */
}

/* Suporte para Firefox (O Firefox usa uma regra diferente) */
* {
    scrollbar-width: thin;          /* Barra fina */
    scrollbar-color: #334155 #0f172a; /* Cor da Alça | Cor do Fundo */
}